  
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

Order.txt
Feedback.txt
Parcel.txt
User.txt
DeletedUser.txt
DeletedFeedback.txt